*{
  margin: 0;
  padding: 0;
}


/**
COLOR & SPACING
**/
body{
  --primary-color : #281A6A;
  --secondary-color : #FF825E;
  --unvalid-color : #BD2525;
  --white-color : #ffffff;
  --main-font : 'Nunito Sans', sans-serif;
  --spacing-1 : 8px;
  --spacing-2 : 16px;
  --spacing-3 : 24px;
  --spacing-4 : 36px;
  --spacing-5 : 48px;
  --spacing-6 : 64px;
  --transition-base : all 0.3s ease-out;
  background-image: url('assets/illustrationCards.png'), linear-gradient(#FFDFD0, #FFF4EF);
  background-position: top left;
  background-repeat: no-repeat;
}


/**
STYLES DE TEXTES
**/
h1{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  line-height: 49px;
  color: var(--primary-color);
}

h2{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 33px;
  line-height: 45px;
  color: var(--primary-color);
}

h3{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  line-height: 31px;
  color: var(--primary-color);
}

h4{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--primary-color);
}

.body_txt{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: var(--primary-color);
}

.txt_description{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 275;
  font-size: 13.5px;
  line-height: 18px;
  color: var(--primary-color);
}

.button_txt{
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 800;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.085em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.accentuation{
  color: var(--secondary-color);
  font-weight: bold;
}


/**
COMPONENTS INPUTS
**/
div.inputs{
display: flex;
flex-direction: column;
margin-top: var(--spacing-4);
}

div.inputs label{
  margin-bottom: var(--spacing-1);
}

div.inputs input{
  height: 27px;
  width: 335px;
  border: none;
  outline: none;
  background: transparent;
  border-bottom: 0.5px solid var(--primary-color);
}

div.inputs_valid input{
  background-image: url("assets/valid.svg");
  background-position: right;
  background-repeat: no-repeat;
}

div.inputs_unvalid input{
  background-image: url("assets/unvalid.svg");
  background-position: right;
  background-repeat: no-repeat;
  border-bottom: 0.5px solid var(--unvalid-color);
}

div.inputs.unsee{
  background-image: url("assets/unsee.svg");
  background-position: right bottom;
  background-repeat: no-repeat;
}

/**
COMPONENTS BUTTONS
**/
.button_default{
  background-color: var(--secondary-color);
  color: var(--white-color);
  padding: 8px 32px;
  margin-top: var(--spacing-6);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: 100%;

  transition: var(--transition-base);
}

.button_default:hover{
  background: var(--white-color);
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color) ;
}

.button_focus{
  box-shadow: 0px 0px 8px var(--secondary-color);
}

.button_disabled{
  opacity: 0.45;
}






