  /**
Main CSS
**/
main{
    display: flex;
    flex-direction: row;
  }
  
  section{
    height: 100vh;
  }
  
  section.visual{
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  section.visual div{
    text-align: right;
    width: 444px;
    margin-right: calc((var(--spacing-6)*2) + var(--spacing-2));
  }
  
  section.visual div img{
    margin-bottom: var(--spacing-4);
  }
  
  section.visual div h2{
    margin-bottom: var(--spacing-6);
  }
  
  section.form{
    background-color: var(--white-color);
    border-radius: 63px 0px 0px 63px;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.09);
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  form{
    display: flex;
    flex-direction: column;
    width: 340px;
  }
  
  form p{
    margin-top: var(--spacing-1);
  }
  
  form a{
    text-decoration: none;
    cursor: pointer;
  }
  
  form a:hover{
    text-decoration: underline;
    transition: var(--transition-base);
  }